#fancytext {
    -fx-font: 70px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, yellow 0%, white 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
#bottomText {
    -fx-font: 70px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, white 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}